<html>
  <head>
    <title>Score</title>
    <body>
      <%if(locals.error){ %>
          <div id="error"><%=error%></div>
      <%}%>
      <%=cup%>
      <div class="cupwise">
        <% for(var i=0; i< cupScore.length;i++){ %>
          <%=for(var j=0;j< cupScore[i].filter({function(o){
            return o.event ===
          }});j++){%>
          <%=eventList[cupScore[i].event].name%>
          <%=cupScore[i].postion%>
          <%=cupScore[i].points%>
          <%=hostelList[cupScore[i].hostel].name%>
          <% } %>
        <%  } %>
      </div>
    </body>
  </head>
</html>
