<% layout('../../partials/template') -%>
<% script('https://unpkg.com/sweetalert/dist/sweetalert.min.js') -%>
<% script('js/eventAddScript.js') -%>

<%if(locals.error){ %>
    <div id="error"><%=error%></div>
<%}%>
<br/><br/><br/>
<label for="eventName">Name of Event: </label>
<input type="text" id="eventName" name='eventName' required><br/>
<label for="cluster">Cluster: </label>
<select name="cluster" id="cluster" required>
    <option value="">Please select</option>
    <%data.clusters.forEach(cluster=>{%>
    <option value="<%=cluster%>"><%=cluster%></option>
<% })%>
</select><br/>
<label for="cup">Cup: </label>
<select name="cup" id="cup" required>
    <option value="">Please select</option>
    <%data.cups.forEach(cup=>{%>
    <option value="<%=cup%>"><%=cup%></option>
<% })%>
</select><br/>
<div id="wrapdiv">
    <button id="addPoints"> Add points for more Winners </button><br/><br/>
    <label for="points1">Points for Winner 1: </label>
    <input type="number" id = 'points1' name='points1'><br/>
    <label for="points2">Points for Winner 2: </label>
    <input type="number" id = 'points2' name='points2'><br/>
    <label for="points3">Points for Winner 3: </label>
    <input type="number" id = 'points3' name='points3'><br/>
</div><br/>
<label for="venue">Venue: </label>
<select name="venue" id="venue" required >
    <option value="">Please Select </option>
    <%data.venues.forEach(v=>{%>
    <option value="<%=v._id%>"><%=v.name%></option>
<% })%>
</select><br/>
<label for="description">Description: </label>
<textarea id="description" name='description'></textarea><br/>
<label for="rules">Rules: </label>
<input type="text" id="rules" name='rules'><br/>
<label for="date">Date: </label>
<input type="date" id="date" name='date'><br/>
<label for="startTime">Starting Time: </label>
<input type="time" id='startTime' name='startTime'><br/>
<label for="endTime">Ending Time: </label>
<input type="time" id='endTime' name='endTime'><br/><br/>
<button id="submitCreate"> Submit </button>
