<% layout('../partials/template') -%>
<% script('js/tshirt.js') -%>
<% stylesheet('css/tshirt.css') -%>


<div id="formWrapper">
	<h1 id="form-title">T-Shirt Registration</h1>
	<%if (typeof error !== 'undefined'){ %>
	<div id="error">
		<%=error%>
	</div>
	<br>
	<%}%>
	<br>
	<form action="tshirt" method="POST">
		<div class="row gtr-uniform">
			<br>
			<br>
			<div class="col-6 col-12-small requirementSelector">
				<input type="radio" id="requirement-foodonly" name="requirement" value="foodcard" required>
				<label for="requirement-foodonly">Foodcard</label>
			</div>
			<div class="col-6 col-12-small requirementSelector">
				<input type="radio" id="requirement-both" name="requirement" value="foodcard_tshirt" required>
				<label for="requirement-both">Foodcard + Tshirt</label>
			</div>
			<div class="col-12">
				<label for="rollno">Roll<a href="images/treasurer.jpeg"> </a>Number </label>
				<input type="number" value="<%=data.rollno%>" name='rollno' readonly required>
			</div>

			<br>
			<div class="col-6 col-12-small">
				<label for="hostel">Hostel</label>
				<select name="hostel" id="hostel" required value="<%=data.hostel%>">
					<option value="">Please select</option>
					<%data.hostels.forEach(hostel=>{%>
					<option value="<%=hostel%>" <%=data.hostel===hostel?'selected':''%>>
						<%=hostel%>
					</option>
					<% })%>
				</select>
			</div>
			<br>
			<div class="col-6 col-12-small hidden" id="tshirt-selector">
				<label for="size">Size </label>
				<select name="size" id="size">
					<option value="" <%=data.size==='' ?'selected':''%>>Please select</option>
					<option value="s" <%=data.size==='s' ?'selected':''%>>S</option>
					<option value="m" <%=data.size==='m' ?'selected':''%>>M</option>
					<option value="l" <%=data.size==='l' ?'selected':''%>>L</option>
					<option value="xl" <%=data.size==='xl' ?'selected':''%>>XL</option>
					<option value="xxl" <%=data.size==='xxl' ?'selected':''%>>XXL</option>
					<option value="xxxl" <%=data.size==='xxxl' ?'selected':''%>>XXXL</option>
				</select>
			</div>

			<br>
			<div class="col-12">
				<ul class="actions">
					<li><input type="submit" value="Submit" class="primary" /></li>
				</ul>
			</div>
		</div>

	</form>
</div>
